@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: #f7f3f0;
  }

  html {
    background-color: var(--bg-primary);
    background-color: #f7f3f0;
  }

  body {
    background-color: var(--bg-primary);
    background-color: #f7f3f0;
    min-height: 100vh;
  }
}
